.slider {
	width: 100%!important;
	text-align: left!important;
	overflow: hidden!important;

	position: relative!important;
	
	/* height: 10em!important; */
	display: block!important;
	margin: 0%!important;

	/* cursor: grab!important; */
}

/* .slider:active {
	cursor: grabbing!important;
} */

.slides {
	display: flex!important;
	font-family: MarkPro-Bold!important;
	color: #f1f4f6!important;

	overflow-x: scroll!important;
	scroll-snap-type: x mandatory!important;

	scroll-behavior: smooth!important;
	-webkit-overflow-scrolling: touch!important;

	/*
	scroll-snap-points-x: repeat(300px)!important;
	scroll-snap-type: mandatory!important;
	*/
	scrollbar-color: #fecb31 rgba(0,0,0,0)!important;
	/* cursor: grab!important; */
	user-select: none!important;
	position: relative!important;

	height: 100%!important;
	padding-left: 2em!important;
	/* width: 400%!important; */
}

.slides::-webkit-scrollbar {
	width: 0.4em!important;
	height: 0.4em!important;
}
.slides::-webkit-scrollbar-thumb {
	background: #fecb31!important;
	border-radius: 0.4em!important;
}
.slides::-webkit-scrollbar-track {
	background: transparent!important;
}

.slidetangle {
	scroll-snap-align: start!important;
	flex-shrink: 0!important;
	width: auto!important;
	height: auto!important;
	margin: 2%!important;
	border-radius: 0.8em!important;
	/* background: linear-gradient(#00a3ad, #007980)!important; */
	background: linear-gradient(#006469,#00a3ad)!important;
	position: relative!important;

	background-size: 100% 200%!important;
	background-position: 0 100%!important;
	-webkit-transition: background 0.5s ease-out!important;  
    -moz-transition: background 0.5s ease-out!important;  
    -o-transition: background 0.5s ease-out!important;  
    transition: background 0.5s ease-out!important;
	
	display: flex!important;
	justify-content: left!important;
	align-items: center!important;
	padding: 0em 0.8em 0em 0.8em!important;
	font-size: 1.4em!important;
	
	cursor: grab!important;
}

@media (min-width: 481px) {
	.slider {
		background: url('./assets/sand.svg')!important;
		background-size: 100%!important;
		background-repeat: no-repeat!important;
	}

	.slides {
		pointer-events: none!important;
		overflow: hidden!important;
		padding-left: 500px!important;
	}
	
	.slidetangle {
		pointer-events: auto!important;
	}
	
	.slidetangle:active {
		cursor: grabbing!important;
	}
	
	.slidetangle:hover {
		background-position: 0 0!important;
	}
}

@media (max-width: 480px) {
	.slider {
		background: url('./assets/sand.svg')!important;
		background-repeat: no-repeat!important;
		/* background-size: 100%!important; */
		box-shadow: 5% 5% #333333!important;	
	}

	.slidetangle {
		font-size: 1.2em!important;
		overflow-wrap: break-word!important;
		hyphens: manual!important;
		width: 100%!important;
		overflow-x: hidden!important;
	}
}

/* .slider > a {
	display: inline-flex!important;
	width: 1.5rem!important;
	height: 1.5rem!important;
	background: white!important;
	text-decoration: none!important;
	align-items: left!important;
	justify-content: left!important;
	border-radius: 50%!important;
	margin: 0 0 0.5rem 0!important;
	position: relative!important;
}
.slider > a:active {
	top: 1px!important;
}
.slider > a:focus {
	background: #000!important;
} */

/* Don't need button navigation */
/* @supports (scroll-snap-type) {
	.slider > a {
		display: none!important;
	}
} */

/* #slide-1, #slide-2, #slide-3, #slide-4, #slide-5 {
	cursor: grab!important;
} */